/* line 2, ../sass/es6styles.scss */
body {
  height: 100%;
}

/* line 6, ../sass/es6styles.scss */
.slider {
  width: 500px;
  height: 500px;
}

/* line 11, ../sass/es6styles.scss */
.slide {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
/* line 22, ../sass/es6styles.scss */
.slide.visible {
  opacity: 1;
  z-index: 2;
}

/* line 28, ../sass/es6styles.scss */
.photo {
  width: 100%;
  max-height: 500px;
}
